@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  /* position:relative; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: block;
  height: 100vh;
  background-color: var(--background-color);
  /* overflow: scroll; */
  z-index: -1;
  transition: 0.3s;
}

.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #222;
  --background-color: #fbfbfd;
  --border-color: #eee;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ddd;
  --border-color: #333;
  --background-color: #000;
}



